# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.os
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.tsk

# Others
*.DS_Store
*.sconsign*

# cmake artifacts
cmake-build-debug*
.idea/*
